::-webkit-scrollbar {
    display: none;
}

img.circleprofile {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

div.section {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    padding-top: 2rem;
    scroll-snap-align: start;
}

div.container{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

div.full {
    width: 100%;
    height: 100%;
}

div.griddy {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    width: 100%;
    height: auto;
    justify-items: center;
}

div.text-griddy {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    width: 100%;
    height: auto;
    justify-items: center;
}

div.sub_section {
    justify-content: center;
    z-index: 2;
}

.name {
    color: white;
    font-family: 'Courier New', monospace;
    text-align: center;
    padding: 4px;
}

p {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color: white;
    text-align: center;
}

.tsparticles {
    z-index: -4;
    position: fixed;
    width: 100%;
}

button.linkeden {
    background-color: #0A66C2;
    border-radius: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

button.github {
    background-color: white; 
    border-radius: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

div.socials-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

div.socials-container {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.map {
    z-index: 30;
    width: 700px;
}

.work_section {
    padding-top: 50px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    justify-items: left;
}

p.section_title {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color: white;
    text-align: left;
    margin: 0;
    padding-left: 10px;
    font-size: 300%;
}

div.about_images {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
    width: 100%;
    height: 75%;
    align-items: center;
    justify-content: center;
}